<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href=" {% static 'images/faviconatzo.png'%}">
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
    <title>Quasi homepage</title>
</head>
<body>
    <nav class="navbar  navbar-expand-lg navbar-light" style="background-color: rgb(255, 255, 255);">
      <div class="container">
        <a class="navbar-brand text-white" href="{% url 'index' %}"><img src="{% static "images/logatzo.svg" %}" alt="no foto" width="120" height="30"></a> <!-- quasi logo to home page-->
        <button class="navbar-toggler burger" name="button" > <!-- sandwich button when collapsed-->
          <span class="navbar-toggler-icon" data-toggle="collapse" data-target= "#navbarmenu"></span>
        </button>
        <div id="navbarmenu" class="collapse navbar-collapse"> 
          <ul class="navbar-nav mr-auto text-center"> <!-- user buttons left when isn't collapsed, center when is-->
           <!--  <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'base_app:feedback' %}">Feedback</a>
            </li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'base_app:trauma' %}" >Seccion Traumajones</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'base_app:youto' %}" >Seccion Youto</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'base_app:wall' %}">Wall</a></li>
            {% endif %}
            <!-- user buttons when navbar is collapsed-->
            <div class="d-lg-none text-center" >
              {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
                <li class="nav-item"><a class="nav-link"href="{% url 'base_app:login' %}">Login</a></li>
              {% endif %}
                <li class="nav-item"> <a class="nav-link" href="{% url 'base_app:register' %}" >Register</a></li>

            </div>

          </ul>

  
         <!-- user buttons when navbar isn't collapsed--> 
        </div>
        <div class="d-none d-lg-block">
          <ul class = "navbar-nav mr-5">
            <li class="nav-item right"  id= "register">
              <a class="nav-link right" href="{% url 'base_app:register' %}" id="register-text">Register</a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item right"><a id= "userlog" class="nav-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li class="nav-item right"><a id="userlog" class="nav-link"href="{% url 'base_app:login' %}">Login</a></li>
            {% endif %}
        </ul>
        </div>

      </div>
        
  
      </nav>

    
    {% block body_block%}
    {% endblock%}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>