{% extends 'base_app/base.html' %}
{%load staticfiles %}
{% block body_block %}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">

        <p>HAS TRAUMADO! Anda a presbanquiar</p>
        <img src="{%static 'images/youto3.jpg'%}" alt="Where is the trauma" width="464" height="617.6" class="rounded mx-auto d-block" >>
        <p>Un recuerdo de cuando nos acompañó Jimmy (Damelo siempre). El segundo muerto del sportlife y gran amante del plan #BetelEsYoutopia</p>
        <img src="{% static 'images/conjames.jpg' %}" alt="no sauna" width="464" height="617.6" class="rounded mx-auto d-block" >

    </div>
    
    
</div>

{% endblock %}