{% extends 'base_app/base.html' %}
{% load staticfiles %}
{% block body_block%}
<div class="jumbotron jumbotron-fluid text-center">
    <h1><strong> MI PAGINA WEB</strong></h1>
    <p>Bienvenutti a la pagina del father, the one and only, Quasi v2.0. He webeado caleta pa hacer esta cagada de sitio  (el primero wooohooo)</p>
    <p>Asique aprovechen la wea y sino me chupan un huevo</p>
    <p>Les dejo un quasi todo mino pa su deleite</p>
    <img src="{% static 'images/landingquasi.JPG' %}" alt="NoQuasi" height="416" width="216">
</div>

{% endblock %}