{% extends 'base_app/base.html' %}
{% load staticfiles %}
{% block body_block%}
<div class="jumbotron jumbotron-fluid text-center">
    <h1><strong> MI PAGINA WEB</strong></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur molestiae saepe perspiciatis illum modi! Adipisci, dignissimos a. Quibusdam doloribus inventore magni dolor delectus, deserunt, repellat officiis porro quia dolores nostrum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolorum voluptas, tempora porro accusamus repellat officiis voluptatem eaque eum minus consequuntur quasi veniam dolor. Perferendis similique at nesciunt repellat sunt?</p>
    <img src="{% static 'images/landingquasi.JPG' %}" alt="NoQuasi" height="416" width="216">
</div>

{% endblock %}