{% extends 'base_app/base.html' %}
{% block body_block%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>LOGEATE PA DENTRO</h1>

        <form action="{% url 'base_app:login' %}" method="POST">
            {% csrf_token%}
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder=" username">

            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="login">
        </form>
        <br>
        <p>SI NO TENI CUENTA (PERKIN) <a href="{% url 'base_app:register'%}">REGISTRATE ACÁ</a></p>

    </div>
    
</div>
{% endblock %}

